@import "colors";


// normalization
a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-bottom: 0;
    font-family: 'Inter', sans-serif;
}

p {
    margin: 0;
}

ol, ul, dl {
    margin: 0;
    list-style: none;
    padding-left: 0;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.nav-tabs .nav-link {
    border: 0;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: none;
}


// common classes
.spt-100, .spy-100 {
    padding-top: 100px;
}

.spb-100, .spy-100 {
    padding-bottom: 100px;
}
.spt-50, .spy-50 {
    padding-top: 50px;
}

.spb-50, .spy-50 {
    padding-bottom: 50px;
}

.ts {
    transition: all 0.3s ease-in-out;
}



// digital experience section start
.section-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 86px;
    .sc-title-box {
        flex-basis: 50%;
        .sc-title {
            font-size: 54px;
            font-weight: 700;
            line-height: 72px;
            color: $black;
        }
    }

    .sc-view-all-box {
        .sc-view-all {
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            text-transform: uppercase;
            color: $black;
        }
        span {
            vertical-align: top;
            margin-left: 16px;
            img {
                width: 28px;
                height: 20px;
            }
        }
    }
}

.de-content-wrapper {
    padding: 0 16px;
    .info-box {
        .title {
            font-size: 36px;
            font-weight: 700;
            line-height: 48px;
            color: $black;
            text-transform: capitalize;
            padding-bottom: 16px;
        }
        .text {
            font-size: 20px;
            font-weight: 500;
            line-height: 32px;
            color: $black-light;
        }
    }
}


// protfolio or tab content section start
// .protfolio-section {
//     position: relative;
//     overflow: hidden;
//     .tab-wrapper {
//         height: 500px;
//         position: relative;
//     }

//     .rotate {
//         position: absolute;
//         top: 229px;
//         left: -248px;
//         right: 0;
//         transform: rotate(-90deg);
//         width: 554px;
//         border-bottom: 1px solid $black-light;
//         &.nav {
//             justify-content: center;
//         }
//     }
//     .nav-tabs .nav-link {
//         font-size: 20px;
//         font-weight: 600;
//         line-height: 32px;
//         color: $black-light;
//     }
//     .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
//         color: $black;
//         background-color: transparent;
//         border: none;
//         border-bottom: 2px solid $black;
//     }
    
// }

// content component start
// .profile-content-section {
//     &.bg-black {
//         background-color: rgba(37, 37, 37, 1);
//         .profile-left-contet h3, .profile-left-contet ul > li .text p {
//             color: $white;
//         }
//     }
// }
// .profile-content-section {
//     padding-left: 80px;
//     min-height: 761px;
//     .profile-content-inner {
//         height: 100%;
//         .profile-left-box {
//             display: flex;
//             flex-direction: column;
//             justify-content: space-between;
//             height: 100%;
//             padding: 0 0 24px;
//             .profile-left-contet {
//                 width: 100%;
//                 h3 {
//                     font-size: 32px;
//                     font-weight: 700;
//                     line-height: 44px;
//                     padding-bottom: 1.5rem;
//                 }
//                 ul > li {
//                     display: flex;
//                     .icon {
//                         flex-basis: 32px;
//                     }
//                     &:not(:last-child) {
//                         margin-bottom: 24px;
//                     }
//                     .text {
//                         padding-left: .75rem;
//                         p {
//                             font-size: 20px;
//                             font-weight: 500;
//                             line-height: 32px;
//                         }
//                     }
//                 }
//             }

//             .full-profile {
//                 @include view-all();
//             }
//         }
//         .profile-right-box {
//             .slick-slider-wrapper {
//                 .slick-slide {
//                     position: relative;
//                     .slick-slide-image {
//                         position: relative;
//                     }
//                     .web-visit-box {
//                         position: absolute;
//                         top: 105px;
//                         right: 105px;
//                         background-color: black;
//                         width: 270px;
//                         border-radius: 50px;
//                         text-align: center;
//                         height: 70px;
//                         line-height: 70px;
//                         @include view-all();
//                         a {
//                             color: $white;
//                             img {
//                                 display: inline-block;
//                             }
//                         }
//                     }
//                 }
//                 .play-push-box {
//                     position: absolute;
//                     top: 105px;
//                     right: 400px;
//                     width: 70px;
//                     height: 70px;
//                     .ps-btn {
//                         width: 70px;
//                         height: 70px;
//                         border-radius: 50%;
//                         border: 2px solid $black-light;
//                         background-color: transparent;
//                     }
//                 }
//             }
//         }
//     }
// }


// clients section start
.home-clients-section {
    .section-title-wrapper {
        .sc-title-box {
            flex-basis: 70%;
        }
    }
    .clients-slide-two {
        padding: 48px 0;
    }
    .clients-logo {
        a {
            img {
                filter: grayscale(1);
                width: 100%;
            }
        }
        &:hover {
            img {
                filter: grayscale(0);
            }
        }
    }
}


// animated count section start
.animated-count-section {
    background-color: $bg-gray;
    .counter-wrapper {
        display: flex;
        align-items: center;
        &.mid {
            justify-content: center;
        }
        &.right {
            justify-content: flex-end;
        }
        .number {
            h1 {
                font-size: 72px;
                font-weight: 700;
                line-height: 87px;
                color: $black;
            }
        }
        .text {
            flex-basis: 50%;
            padding-left: 1rem;
            p {
                font-size: 22px;
                font-weight: 500;
                line-height: 30px;
                color: $black-light;
            }
        }
    }
}



// great together section start
.great-together-section {
    background-color: $black;
    .great-together-wrapper {
        height: 100%;
        vertical-align: middle;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
            font-size: 62px;
            font-weight: 700;
            line-height: 82px;
            color: $white;
        }
        p {
            font-size: 24px;
            font-weight: 500;
            line-height: 42px;
            color: $white;
        }
        .get-quote-box {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            a {
                width: 298px;
                height: 80px;
                background-color: #404040;
                border-radius: 50px;
                display: block;
                text-align: center;
                line-height: 80px;
                color: $white;
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;
                position: relative;
                img {
                    width: 28px;
                    height: 20px;
                    margin-left: 16px;
                    vertical-align: text-top;
                }
            }
        }
    }
}


// footer start
.footer {
    .footer-main {
        padding-bottom: 48px;
    }
    .flogo-wrapper {
        max-width: 200px;
        img {
            width: 100%;
        }
    }
    .finfo-wrapper {
        padding-top: 48px;
        .ft-title {
            h6 {
                font-family: 'Raleway', sans-serif;
                font-size: 1.125rem;
                font-weight: 700;
                line-height: 22px;
                color: $black;
                padding-bottom: 1rem;
            }
        }
        .link-box {
            a {
                font-size: 1.125rem;
                font-weight: 500;
                line-height: 28px;
                color: $black-light;
                display: block;
            }
        }
        .contact-box {
            ul {
                li {
                    display: flex;
                    .icon {
                        flex-basis: 16px;
                        margin-right: .75rem;
                        img {
                            filter: invert(0.5);
                        }
                    }
                }
            }
            p {
                font-size: 1.125rem;
                font-weight: 500;
                line-height: 28px;
                color: $black-light;
                position: relative;
            }
        } 

        .social-wrapper {
            text-align: right;
            ul>li:not(:last-child) {
                margin-bottom: 1rem;
                a {
                    display: inline-block;
                    max-width: 32px;
                }
            }
        }
    }

    .copyright {
        padding-top: 28px;
        border-top: 2px solid $bg-gray;
        display: flex;
        justify-content: center;
        align-items: center;
        .gray-round {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #a0a0a0;
            margin: 0 .75rem;
        }
        p {
            font-size: 1.125rem;
            font-weight: 400;
            line-height: 28px;
            color: $black-light;
        }
    }

}